body{
    background-color: #FCB31B;
}
.interface {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    
}
.calculator {
    display: flex;
    flex-direction: column;
    padding: 15px; 
    background-color: #212121;
    border-radius: 15px;
}

/*Calculator output*/
.display {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 5px; 
    height: auto;
    background-color: #494747;
    border-radius: 15px;
}

.input {
    text-align: end;
    font-size: 32px;
    height: 32px; 
    margin-top: 10px; 
    margin-right: 10px;
    margin-left: 10px;
    color: #60A07F;
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

.results {
    text-align: end; 
    font-size: 48px; 
    height:64px; 
    margin-bottom:10px; 
    margin-right: 10px;
    margin-left: 10px;
    color: #FFFFFF;
    font-family: 'Quicksand', 'Roboto', sans-serif; 
}

/*Clear and Delete Buttons*/
.buttons .top {
    display: grid; 
    grid-template-columns: repeat(2,1fr);
}

button.AC,
button.C {
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 1.5rem;
}

/*Number and Operator Buttons*/
.buttons .rows {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
}


button {
    background-color: #616161;
    color: #DFDFDF;
    border: 2px solid black;
    margin: 5px;
}


.rows button {
    font-size: 20px;
    border-radius: 100%;
    padding: 20px 20px;
}

/*Button effects*/
button:hover {
    cursor: pointer;
    background-color: #bdbdbd;
    color: #212121;
    transform: translateY(-0.2rem); 
}

button.AC:hover {
    background-color: lightcoral;
    color: black; 
}

button.C:hover {
    background-color: lightcyan;
    color: black; 
}

button#operator:hover {
    background-color:mediumturquoise;
}

button.equal:hover {
    background-color: lightgreen;
}