.interface {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 177, 180);
    padding: 10px; 
}

/*Calculator output*/
.display {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 300px;
    margin: 5px; 
    height: 100px;
}

.input {
    text-align: end;
    font-size: 32px;
    height: 50px; 
    margin-top: 10px; 
    margin-right: 10px; 
}

.results {
    text-align: end; 
    font-size: 48px; 
    height:50px; 
    margin-bottom: 10px; 
    margin-right: 10px; 
}

/*Clear and Delete Buttons*/
.buttons .top {
    display: grid; 
    grid-template-columns: repeat(2,1fr);
}

button.AC,
button.C {
    font-size: 20px;
    padding: 20px 20px;
}

button.AC {
    background-color: lightcoral;
}

button.C {
    background-color:lightcyan; 
}


/*Number and Operator Buttons*/
.buttons .rows {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
}


button {
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px; 
}


.rows button {
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    padding: 20px 20px;
}

/*Button effects*/
button:hover {
    cursor: pointer;
    filter: brightness(90%); 
}